<%- include("partials/header") %>
		<h1>Welcome Home</h1>
		<img src="https://static.wixstatic.com/media/a720fd_98f005441b63471bae4f2395671e1a55~mv2.jpg" alt="Image Unavailable">
<%- include("partials/footer") %>