<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/bootstrap-4.1.3.min.css" type="text/css">
		<link rel="stylesheet" href="/fontawesome/css/all-5.12.0.min.css" type="text/css">
		<link rel="stylesheet" href="/googlefonts/gfonts.css" type="text/css">
		<link rel="stylesheet" href="/style.css" type="text/css">
		<title>YelpCamp</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-light bg-light justify-content-end fixed-top py-0" id="navbarHeader">
			<a href="/" class="navbar-brand">YelpCamp</a>
			<a href="/campgrounds/new" class="btn btn-success ml-auto mr-1">Add New Campground</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navbar links expansion">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse flex-grow-0" id="navbarLinks">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="/" class="nav-link">Login</a>
					</li>
					<li class="nav-item">
						<a href="/" class="nav-link">Sign Up</a>
					</li>
					<li class="nav-item">
						<a href="/" class="nav-link">Logout</a>
					</li>
				</ul>
			</div>
		</nav>