<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/bootstrap-4.1.3.min.css" type="text/css">
		<link rel="stylesheet" href="/fontawesome/css/all-5.12.0.min.css" type="text/css">
		<link rel="stylesheet" href="/googlefonts/gfonts.css" type="text/css">
		<link rel="stylesheet" href="/style.css" type="text/css">
		<title>YelpCamp</title>
	</head>
	<body>