<%- include("partials/header") %>
		<h3 id="notFound">Not Found</h3>
		<p>No movies containing the term <span id="notFoundTerm"><%= search %></span> were found.</p>
<%- include("partials/searchAgain") %>
<%- include("partials/footer") %>