<%- include("partials/header") %>
		<h1 id="index">YelpCamp <i class="fas fa-bacon"></i></h1>
		<p><i class="fas fa-diagnoses"></i> Currently under construction... <i class="fab fa-accessible-icon"></i></p>
		<img src="https://farm5.staticflickr.com/4026/4504027757_3ffdbe1efa.jpg" alt="Image Unavailable">
<%- include("partials/footer") %>