<%- include("partials/header") %>
		<h1 id="index">YelpCamp <i class="fas fa-bacon"></i></h1>
		<p><i class="fas fa-diagnoses"></i> Currently under construction... <i class="fab fa-accessible-icon"></i></p>
		<img src="https://pixabay.com/get/57e1dd4a4350a514f6da8c7dda793f7f1636dfe2564c704c7d2f7add9148c551_340.jpg" alt="Image Unavailable">
<%- include("partials/footer") %>