<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/bootstrap-4.1.3.min.css" type="text/css">
		<link rel="stylesheet" href="/fontawesome/css/all-5.12.0.min.css" type="text/css">
		<link rel="stylesheet" href="/googlefonts/gfonts.css" type="text/css">
		<link rel="stylesheet" href="/style.css" type="text/css">
		<title>YelpCamp</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-light bg-light justify-content-end fixed-top" id="navbarHeader">
			<a href="/about" class="navbar-brand trademark">YelpCamp</a>
			<a href="/campgrounds/new" class="btn btn-success ml-auto mr-1">Add New Campground</a>
			<a href="/campgrounds" class="btn btn-warning">View Campgrounds</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navbar links expansion">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse flex-grow-0" id="navbarLinks">
				<ul class="navbar-nav">
				<% if(!user) { %>
					<li class="nav-item">
						<a href="/login" class="nav-link">Login</a>
					</li>
					<li class="nav-item">
						<a href="/register" class="nav-link">Sign Up</a>
					</li>
				<% } else { %>
					<li class="nav-item">
						<a href="#" class="nav-link disabled">Signed in as <%= user.username %></a>
					</li>
					<li class="nav-item">
						<a href="/logout" class="nav-link">Logout</a>
					</li>
				<% } %>
				<li class="nav-item">
					<a href="/about" class="nav-link">About</a>
				</li>
				</ul>
			</div>
		</nav>
		<div class="container-fluid text-center">
			<% if(errormsg && errormsg.length > 0) { %>
				<div class="alert alert-danger" role="alert">
					<%= errormsg %>
				</div>
			<% }; %>
			<% if(infomsg && infomsg.length > 0) { %>
				<div class="alert alert-info" role="alert">
					<%= infomsg %>
				</div>
			<% }; %>
			<% if(successmsg && successmsg.length > 0) { %>
				<div class="alert alert-success" role="alert">
					<%= successmsg %>
				</div>
			<% }; %>
		</div>